<div class="width-constraint">
  <div class="surface content">
    <h1>Sign in</h1>

    <%= form_with url: sessions_path, method: :post, local: true do |f| %>
      <div class="alert">Alert: <%= flash[:alert] %></div>

      <%= f.text_field :email, placeholder: "Email" %>
      <%= f.password_field :password, placeholder: "Password" %>

      <%= f.button "Sign in" %>
    <% end %>
  </div>
</div>
