<div class="container">
  <div class="surface content">
    <div class="notice"><%= flash[:notice] %></div>
    <h2><%= @event.name %> <%= @scheduled_event.name %></h2>
    <h3><%= @team.name %></h3>

    Members:
    <ul>
      <% @team.members.each do |member| %>
        <li>
          <%= link_to member.user.name, manage_scheduled_event_competitor_path(@event, @scheduled_event, member) %>
        </li>
      <% end %>
    </ul>
  </div>
</div>