<% if flash[:notice] %>
  <div class="flash notice"><%= flash[:notice] %></div>
<% end %>

<%= form_with model: @user, local: true do |f| %>
  <%= f.text_field :name, placeholder: "Name" %>
  <%= f.text_field :email, placeholder: "Email" %>

  <%= f.password_field :password, placeholder: "Password" %>
  <%= f.password_field :password_confirmation, placeholder: "Confirm password" %>


  <% if @user.persisted? %>
    <%= f.button "Save" %>
  <% else %>
    <%= f.button "Create account" %>
  <% end %>
<% end %>
