<%= form_with model: @event, local: true do |f| %>
  <% unless @event.errors.empty? %>
    <%= @event.errors.full_messages.join("<br />") %>
  <% end %>

  <%= f.text_field :name, placeholder: "Name" %>

  <p>
    Banner image<br />
    <%= f.file_field :banner %>
  </p>

  <% if @event.persisted? %>
    <%= f.button "Save" %>
  <% else %>
    <%= f.button "Create" %>
  <% end %>
<% end %>