<% if @event.banner.attached? %>
  <div class="banner" style="background-image: url('<%= url_for(@event.banner) %>');"></div>
<% else %>
  <div class="banner"></div>
<% end %>

<% if current_user_organiser_for?(@event) %>
  <div class="container">
    <div class="content top-attached">
      You're an organiser for <%= @event.name %>, want to go the <%= link_to "organiser panel", event_panel_path(@event) %>?
    </div>
  </div>
<% end %>

<% if @scheduled %>
  <div class="container">
    <div class="content next-event-banner">
      Starts at <%= @scheduled.starts_at.strftime("%l:%M%P %A #{@scheduled.starts_at.day.ordinalize} %B %Y") %><br />
      Runs for <%= distance_of_time_in_words(@scheduled.duration) %>

      <!-- temp as fuck -->
      <br />
      <% if @competitor %>
        You're attending. <%= button_to "Stop attending", event_schedule_competitor_path(@event, @scheduled, @competitor), method: :delete %>
      <% else %>
        <%= link_to "Attend", new_event_schedule_competitor_path(@event, @scheduled) %>
      <% end %>
    </div>
  </div>
<% end %>

<div class="container">
  <div class="container column-left">
    <div class="content">
      <h1><%= @event.name %></h1>
      
      <% if @scheduled %>
        <%= @scheduled.location_text %>
      <% end %>
    </div>
  </div>

  <% if @scheduled %>
    <div class="container column-right">
      <div class="content">
        <img src="https://maps.googleapis.com/maps/api/staticmap?key=AIzaSyDLMSBuFd-Oi8kDcwH95IbIb7-DIcI20Ic&center=<%= @scheduled.lat %>,<%= @scheduled.long %>&zoom=15&size=300x300" />
      </div>
    </div>
  <% end %>
</div>