<%= form_with model: @scheduled_event, url: @save_path, local: true do |f| %>
  <p>
    <%= f.label :starts_at %>
    <%= f.datetime_field :starts_at, required: true %>
  </p>

  <p>
    <%= f.label :ends_at %>
    <%= f.datetime_field :ends_at, required: true %>
  </p>

  <p>
    <%= f.label :location_text, "Description of location" %>
    <%= f.text_area :location_text, required: true %>
  </p>

  <p>
    <%= f.label "Location (Coordinates)" %>
    <%= f.text_field :lat, placeholder: "Latitude" %>
    <%= f.text_field :long, placeholder: "Longitide" %>
  </p>

  <p>
    <%= f.label "Maximum team size?" %>
    <%= f.text_field :maximum_team_size %>
  </p>

  <p>
    <%= f.label :signups_open_at %>
    <%= f.datetime_field :signups_open_at, required: true %>
    <br />
    <%= f.label :signups_close_at %>
    <%= f.datetime_field :signups_close_at, required: true %>
  </p>

  <% if @scheduled_event.persisted? %>
    <%= f.button "Save" %>
  <% else %>
    <%= f.button "Create" %>
  <% end %>
<% end %>