<% if @event.banner.attached? %>
  <div class="banner" style="background-image: url('<%= url_for(@event.banner) %>');"></div>
<% else %>
  <div class="banner"></div>
<% end %>
<div class="container grid-event">
  <% if current_user_organiser_for?(@event) %>
  <div class="management">
    <span>You're an organiser for <%= @event.name %>.</span>
    <%= link_to "Manage", manage_scheduled_event_path, class: "button" %>
  </div>
  <% end %>

  <div class="surface event-control-bar">
    <%= image_tag "placeholder-event.svg", class: "event-avatar" %>
    <div class="control-bar-details">
      <%= render partial: "event_schedule" %>

      <% if current_competitor %>
        <%= form_with url: competitor_path(current_competitor), local: true, method: :delete do |f| %>
          <%= f.button "Attending", class: "button stateful active affirmative", data: { action: "Leave" } %>
        <% end %>
      <% else %>
        <%= form_with url: competitors_path, local: true do |f| %>
          <%= f.hidden_field :scheduled_event, value: @scheduled_event.id %>
          <%= f.button "Attend" %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="surface main content">
    <h1><%= @event.name %></h1>

    <%= render partial: "event_schedule" %>

    <div class="subheading">
      <%= @scheduled_event.location_text %>
    </div>

    <% if current_user %>
      <section>
        <h1>Teams</h1>

        <% if current_competitor&.team %>
          <p>
            You're competiting in team <b><%= current_competitor.team.name %></b>

            <%= form_with url: team_path(current_competitor.team), method: :delete, local: true do |f| %>
              <%= f.button "Leave team" %>
            <% end %>
          </p>
        <% else %>
          <p>Create a team</p>

          <%= form_with model: @scheduled_event.teams.new, url: teams_path, local: true do |f| %>
            <%= f.hidden_field :scheduled_event_id, value: @scheduled_event.id %>
            <%= f.text_field :name, placeholder: "Team name" %>
            <%= f.button "Create team" %>
          <% end %>
        <% end %>
      </section>
    <% end %>
  </div>

  <aside class="surface">
    <%= content_tag 'div', '', class: "map", data: {lat: @scheduled_event.lat, long: @scheduled_event.long} %>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDiBkB9k8UQh4nAS8X9LrEYfNn25MnwGZY&callback=initMap"></script>
  </aside>
</div>
