<div class="container">
  <div class="surface content">
    <div class="notice"><%= flash[:notice] %></div>
    <h2>Competitors for <%= @event.name %> <%= @scheduled_event.name %></h2>
    
    <table>
      <tr>
        <th>Name</th>
        <th>Team</th>
        <th>Actions</th>
      </tr>
    <% @competitors.each do |competitor| %>
      <tr>
        <td><%= competitor.user.name %></td>
        <td><%= link_to competitor&.team&.name %></td>
        <td>
          <%= link_to "Remove from Jam" %>
        </td>
      </tr>
    <% end %>
    </table>
  </div>
</div>