<div class="container">
  <div class="surface content">
    <div class="notice"><%= flash[:notice] %></div>
    <h1><%= @event.name %> <%= @scheduled_event.name %></h1>
    
    <h1><%= @scheduled_event.competitors.count %></h1>
    Current competitors <%= link_to "(See all)", manage_scheduled_event_competitors_path %>
    
    <h1><%= @scheduled_event.teams.count %></h1>
    Current teams <%= link_to "(See all)", manage_scheduled_event_teams_path %>
  </div>
</div>