<div class="container">
  <div class="surface content">
    <div class="notice"><%= flash[:notice] %></div>
    <h2>Competitors for <%= @event.name %> <%= @scheduled_event.name %></h2>
    
    <table>
      <tr>
        <th>Name</th>
        <th>Team</th>
        <th>Actions</th>
      </tr>
    <% @competitors.each do |competitor| %>
      <tr>
        <td><%= link_to competitor.user.name, manage_scheduled_event_competitor_path(@event, @scheduled_event, competitor) %></td>
        <td><%= link_to competitor&.team&.name, manage_scheduled_event_team_path(@event, @scheduled_event, competitor&.team) %></td>
        <td>
          <%= form_with url: manage_scheduled_event_team_path(@scheduled_event, @event, competitor&.team), local: true, method: :delete do |f| %>
            <%= f.button "Remove from event" %>
          <% end %>
        </td>
      </tr>
    <% end %>
    </table>
  </div>
</div>