<div class="container">
  <div class="surface content">
    <div class="notice"><%= flash[:notice] %></div>
    <h2><%= @event.name %> <%= @scheduled_event.name %></h2>
    <h3>Competitor <%= @competitor.user.name %></h3>

    <% if @competitor.team %>
      Team: <%= link_to @competitor.team.name, manage_scheduled_event_team_path(@event, @scheduled_event, @competitor.team) %>
    <% end %>
  </div>
</div>