<!DOCTYPE html>
<html>
  <head>
    <title>Seedbase</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body class="no-animate">
    <div class="grid-layout">
      <header>
        <a href="/">Seedbase</a>
        <nav>
          <%= link_to "Events", events_path %>

          <% if current_user %>
            <%= content_tag "div", class: "profile flyout", style: "background-image: url('#{profile_picture_url}?s=120')" do %>
              <div class="flyout-body">
                <!-- <%= link_to "Your events", "the manage all your events path if you are an organiser" %> -->
                <%= link_to "Settings", edit_user_path(current_user) %>
                <%= link_to "Sign out", destroy_sessions_path if current_user %>
              </div>
            <% end %>
          <% else %>
            <span>
              <%= link_to "Register", new_user_path %>
              <%= link_to "Sign in", new_session_path %>
            </span>
          <% end %>
        </nav>
      </header>
      <%= yield %>
      <footer></footer>
    </div>

    <%= javascript_include_tag 'application' %>
    <%= javascript_tag 'if (document.querySelector(".no-animate")) document.body.classList.remove("no-animate");', defer: 'defer' %>
  </body>
</html>
